.image {
    width: 6rem;
    height: 6rem;
    border-radius: 1rem;
    margin-left: 1rem;
    object-fit: cover;
}

.title {
    color:white;
    margin-top:2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: large;
}

.text {
  color: white;
  margin: 1em;
  vertical-align: middle;
}

.guide {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .buttons {
    margin-left: 2vw;
  }

  .buttons button {
    margin-right: 1vw; 
  }
  