.spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid #ffffff;
  border-radius: 80%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 기존 스타일 */
.guide_upload-page {
  width: 100vw;
  height: calc(100vh - 11.5rem);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.text-input {
  width: 35vw;
  height: 2.5vh;
  padding: 5px;
  margin: 5px 5px;
  border-radius: 20px;
  border: 0.05em solid black;
  /* background-image: linear-gradient(#ffffff 10%,#414751 34%,#c3adaa); */
  background-color: #414751;
  border: 0.15em solid #414751;
  color: white;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px #414751, 0px 0px 0.5em 0px #414751;
  -moz-box-shadow: inset 0px 0px 0.5em 0px #414751, 0px 0px 0.5em 0px #414751;
  box-shadow: inset 0px 0px 0.5em 0px #414751, 0px 0px 0.5em 0px #414751;
  animation: border-flicker 2s linear infinite;
}

.text-input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.input-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.guide-select {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  appearance: none; /* Removes default styling by the browser */
}

.guide-select option {
  padding: 10px;
  background: linear-gradient(45deg, #6e48aa, #9d50bb);
  color: white;
  border-bottom: 1px solid #ddd; /* Optional */
}

/* You can use :checked to style selected option, but support is limited */
.guide-select option:checked {
  background-color: #5a3ea4;
  color: white;
}

.guide-select:focus {
  border-color: #4a90e2;
  outline: none;
}

.guide-submit {
  padding: 15px 15px;
  background-color: #414751;
  border: 0.15em solid #414751;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px #414751, 0px 0px 0.5em 0px #414751;
  -moz-box-shadow: inset 0px 0px 0.5em 0px #414751, 0px 0px 0.5em 0px #414751;
  box-shadow: inset 0px 0px 0.5em 0px #414751, 0px 0px 0.5em 0px #414751;
  animation: border-flicker 2s linear infinite;
}

.guide-submit:hover {
  background-color: #abb5c3;
}

.guide-video {
  cursor: pointer;
  height: 70%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.guide-play {
  height: 100%;
  width: 100%;
}

.guide-video > input {
  display: none;
}

.guide_upload-page label {
  color: white; /* Ensures text is initially white */
  margin: 0px 0.5px 0px 0.5px;
  cursor: pointer;
  font-size: 0.9rem; /* Adjust size for better readability */
  letter-spacing: 0.05em; /* Better spacing for readability */
  transition: text-shadow 0.3s ease-in-out; /* Smooth transition for glow effect */
}

form {
  display: flex;
  margin-right: 2vw;
}

label:first-child input {
  border-radius: 0.5em 0 0 0.5em;
  box-shadow: 0.1em 0 0 #2726267f inset, -0.1em 0 0 #27262600 inset,
    0 0.1em 0 #afa490 inset, 0 -0.1em 0 #ffffff3f, 0 0.2em 0.5em #0000007f,
    0 -0.1em 0 #926086 inset, -0.1em -0.2em 0 #ffffff7f inset,
    0.2em 0 0 #ffffff7f inset;
}
label:last-child input {
  border-radius: 0 0.5em 0.5em 0;
  box-shadow: 0 -0.1em 0 #926086 inset, 0.1em 0 0 #2726267f inset,
    -0.1em 0 0 #2726267f inset, 0 0.1em 0 #afa490 inset,
    -0.1em 0 0 #afa490 inset, 0 -0.1em 0 #ffffff3f, 0 0.2em 0.5em #0000007f,
    -0.1em -0.1em 0 0.1em #ffffff7f inset;
}
label:first-child input:checked {
  box-shadow: 0.1em 0 0 #272626af inset, -0.1em 0 0 #272626 inset,
    0 0.1em 0 #847a62 inset, 0 -0.1em 0 #ffffff3f, 0 0.1em 0 #ffffff7f,
    0 -0.1em 0 #722257 inset, -0.1em -0.2em 0 #ffffff7f inset,
    0.2em 0 0 #ffffff7f inset;
}
label:last-child input:checked {
  box-shadow: 0.1em 0 0 #272626af inset, -0.1em 0 0 #272626 inset,
    0 -0.1em 0 #722257 inset, 0 0.1em 0 #847a62 inset, -0.1em 0 0 #847a62 inset,
    0 -0.1em 0 #ffffff3f, 0 0.1em 0 #ffffff7f,
    -0.1em -0.1em 0 0.1em #ffffff7f inset;
}
.bar {
  background-image: linear-gradient(
    #ffffff 33%,
    #414751 58%,
    #837b52,
    #c5baa1,
    #c3adaa
  );
  border-radius: 0;
  box-shadow: 0.1em 0 0 #2726267f inset, -0.1em 0 0 #27262600 inset,
    0 0.1em 0 #afa490 inset, 0 -0.1em 0 #ffffff3f, 0 0.2em 0.5em #0000007f,
    0 -0.1em 0 #926086 inset, -0.1em -0.2em 0 #ffffff7f inset;
  cursor: pointer;
  display: flex;
  margin-bottom: 0.5em;
  width: 100%;
  height: 1em;
  transition: box-shadow var(--transDur) ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  justify-content: center;
}

.bar:checked {
  background-image: linear-gradient(
    #ffffff 33%,
    var(--glow1-color) 58%,
    #827a7b,
    #c0b6ac,
    #c3adaa
  );
  box-shadow: 0.1em 0 0 #272626af inset, -0.1em 0 0 #272626 inset,
    0 0.1em 0 #847a62 inset, 0 -0.1em 0 #ffffff3f, 0 0.1em 0 #ffffff7f,
    0 -0.1em 0 #722257 inset, -0.1em -0.2em 0 #ffffff7f inset;
}
.bar:checked + span {
  opacity: 1;
}

span {
  display: flex;
  padding: 8px;
  text-align: center;
  justify-content: center;
  font-size: 1rem;
  font-family: "esamanru-Light";
}
.bar:focus {
  outline: transparent;
}
.bar + span {
  opacity: 0.45;
  transition: opacity var(--transDur) ease-in-out;
}
