.landing-page {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.landingpage-title {
  position: absolute;
  top: 7%;
  color: white;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  text-align: center;
  line-height: 1.5;
}
.landingpage-title > span:nth-child(1) {
  font-size: 3rem;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px hsl(186 100% 69%),
    0 0 30px hsl(186 100% 69%), 0 0 40px hsl(186 100% 69%),
    0 0 55px hsl(186 100% 69%), 0 0 75px hsl(186 100% 69%);
}

.landingpage-title > span:nth-child(2) {
  font-size: 1.5rem;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px HSL(120, 100%, 69%),
    0 0 30px HSL(120, 100%, 69%), 0 0 40px HSL(120, 100%, 69%),
    0 0 55px hsl(186 100% 69%), 0 0 75px hsl(186 100% 69%);
}

.landingpage-title > span:nth-child(3) {
  font-size: 2.5rem;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px HSL(120, 100%, 69%),
    0 0 30px HSL(120, 100%, 69%), 0 0 40px HSL(120, 100%, 69%),
    0 0 55px HSL(120, 100%, 69%), 0 0 75px HSL(120, 100%, 69%);
}

.login {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.landing-page-click {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  cursor: pointer;
  background: linear-gradient(black, #202020c9, black);
}

.first {
  position: relative;
  margin: 0 auto;
  width: 60vw;
  height: 60vw;
  z-index: 2;
}

@keyframes flicker {
  0%,
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #0fa,
      0 0 80px #0fa, 0 0 90px #0fa, 0 0 100px #0fa, 0 0 150px #0fa;
  }
  0% {
    text-shadow: 0 0 4px #ffffffb6, 0 0 11px #ffffffb6, 0 0 19px #ffffffb6,
      0 0 40px rgba(0, 255, 170, 0.603), 0 0 80px rgba(0, 255, 170, 0.603),
      0 0 90px rgba(0, 255, 170, 0.603), 0 0 100px rgba(0, 255, 170, 0.603),
      0 0 150px rgba(0, 255, 170, 0.603);
  }
}

@keyframes rotate {
  0% {
    transform: translate3d(11%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(11%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(11%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(11%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(11%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(11%, 0, 0) rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: translate3d(23%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(23%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(23%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(23%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(23%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(23%, 0, 0) rotate(360deg);
  }
}

@keyframes rotate3 {
  0% {
    transform: translate3d(37%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(37%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(37%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(37%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(37%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(37%, 0, 0) rotate(360deg);
  }
}
@keyframes rotate4 {
  0% {
    transform: translate3d(52.4%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(52.4%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(52.4%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(52.4%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(52.4%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(52.4%, 0, 0) rotate(360deg);
  }
}
@keyframes rotate5 {
  0% {
    transform: translate3d(69.3%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(69.3%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(69.3%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(69.3%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(69.3%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(69.3%, 0, 0) rotate(360deg);
  }
}
@keyframes rotate6 {
  0% {
    transform: translate3d(88.1%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(88.1%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(88.1%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(88.1%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(88.1%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(88.1%, 0, 0) rotate(360deg);
  }
}
@keyframes rotate7 {
  0% {
    transform: translate3d(109%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(109%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(109%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(109%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(109%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(109%, 0, 0) rotate(360deg);
  }
}
@keyframes rotate8 {
  0% {
    transform: translate3d(132.3%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(132.3%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(132.3%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(132.3%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(132.3%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(132.3%, 0, 0) rotate(360deg);
  }
}

@keyframes rotate9 {
  0% {
    transform: translate3d(158%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(158%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(158%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(158%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(158%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(158%, 0, 0) rotate(360deg);
  }
}

@keyframes rotate10 {
  0% {
    transform: translate3d(186.79%, 0, 0) rotate(0deg);
  }
  2.5% {
    transform: translate3d(186.79%, 0, 0) rotate(0deg);
  }
  22.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  27.5% {
    transform: translate3d(0, 0, 0) rotate(90deg);
  }
  47.5% {
    transform: translate3d(186.79%, 0, 0) rotate(180deg);
  }
  52.5% {
    transform: translate3d(186.79%, 0, 0) rotate(180deg);
  }
  72.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  77.5% {
    transform: translate3d(0, 0, 0) rotate(270deg);
  }
  97.5% {
    transform: translate3d(186.79%, 0, 0) rotate(360deg);
  }
  100% {
    transform: translate3d(186.79%, 0, 0) rotate(360deg);
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(
      0% 100%,
      2px 100%,
      2px 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) calc(100% - 2px),
      2px calc(100% - 2px),
      2px 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  25% {
    clip-path: polygon(
      0% 100%,
      2px 100%,
      2px 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 2px) calc(100% - 2px),
      calc(100% - 2px) 100%,
      100% 100%,
      100% 0%,
      0% 0%
    );
  }
  50% {
    clip-path: polygon(
      0% 100%,
      2px 100%,
      2px 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 2px,
      calc(100% - 2px) 2px,
      100% 0%,
      0% 0%
    );
  }
  75% {
    -webkit-clip-path: polygon(
      0% 100%,
      2px 100%,
      2px 2px,
      2px 2px,
      2px 2px,
      2px 2px,
      2px 2px,
      2px 2px,
      2px 0%,
      0% 0%
    );
  }
  100% {
    -webkit-clip-path: polygon(
      0% 100%,
      2px 100%,
      2px 100%,
      2px 100%,
      2px 100%,
      2px 100%,
      2px 100%,
      2px 100%,
      2px 100%,
      0% 100%
    );
  }
}

.first-box {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  top: 5%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: 0s;
}

.first-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
}

.second-box {
  box-sizing: border-box;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 9.5%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate2 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.03s;
}

.second-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.01s;
}

.third-box {
  box-sizing: border-box;
  position: absolute;
  width: 81%;
  height: 81%;
  top: 13.55%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate3 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.06s;
}

.third-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.02s;
}

.fourth-box {
  box-sizing: border-box;
  position: absolute;
  width: 72.9%;
  height: 72.9%;
  top: 17.1%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate4 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.09s;
}

.fourth-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.03s;
}

.fifth-box {
  box-sizing: border-box;
  position: absolute;
  width: 65.61%;
  height: 65.61%;
  top: 20.45%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate5 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.12s;
}

.fifth-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.04s;
}

.sixth-box {
  box-sizing: border-box;
  position: absolute;
  width: 59.049%;
  height: 59.049%;
  top: 23.42%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate6 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.15s;
}

.sixth-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.05s;
}

.seventh-box {
  box-sizing: border-box;
  position: absolute;
  width: 53.1441%;
  height: 53.1441%;
  top: 26.04%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate7 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.18s;
}

.seventh-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.06s;
}

.eighth-box {
  box-sizing: border-box;
  position: absolute;
  width: 47.82969%;
  height: 47.82969%;
  top: 28.47%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate8 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.21s;
}

.eighth-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.07s;
}

.ninth-box {
  box-sizing: border-box;
  position: absolute;
  width: 43.05%;
  height: 43.05%;
  top: 30.62%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate9 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.24s;
}

.ninth-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.08s;
}

.tenth-box {
  box-sizing: border-box;
  position: absolute;
  width: 38.74%;
  height: 38.74%;
  top: 32.56%;
  transform: translate3d(0, 0, 0) rotate(0deg);
  transition: all 0.2s;
  animation: rotate10 6s infinite cubic-bezier(0.6, 0, 0.4, 1);
  animation-delay: -0.18s;
}

.tenth-box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(120deg, #00f260, #0575e6, #00f260);
  background-size: 300% 300%;
  clip-path: polygon(
    0% 100%,
    2px 100%,
    2px 2px,
    calc(100% - 2px) 2px,
    calc(100% - 2px) calc(100% - 2px),
    2px calc(100% - 2px),
    2px 100%,
    100% 100%,
    100% 0%,
    0% 0%
  );
  animation: frame-enter 1s forwards ease-in-out reverse,
    gradient-animation 4s ease-in-out infinite;
  animation-delay: 0.09s;
}

.intro {
  color: #fff;
  font-size: 6vw;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0fa,
    0 0 82px #0fa, 0 0 92px #0fa, 0 0 102px #0fa, 0 0 151px #0fa;
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 2.5rem;
  animation: flicker 2s infinite ease;
}

@keyframes expand {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%) scale(1);
  }
  25% {
    transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%) scale(2);
  }
  50% {
    transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%) scale(3);
  }
  75% {
    transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%) scale(4);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%) scale(5);
  }
}

.box1 {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 5%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
}

.box2 {
  box-sizing: border-box;
  position: absolute;
  width: 90%;
  height: 90%;
  top: 9.5%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
  animation-delay: 0.3s;
}

.box3 {
  box-sizing: border-box;
  position: absolute;
  width: 81%;
  height: 81%;
  top: 13.55%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
  animation-delay: 0.6s;
}

.box4 {
  box-sizing: border-box;
  position: absolute;
  width: 72.9%;
  height: 72.9%;
  top: 17.1%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
  animation-delay: 0.9s;
}

.box5 {
  box-sizing: border-box;
  position: absolute;
  width: 65.61%;
  height: 65.61%;
  top: 20.45%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
  animation-delay: 1.2s;
}

.box6 {
  box-sizing: border-box;
  position: absolute;
  width: 59.049%;
  height: 59.049%;
  top: 23.42%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
}

.box7 {
  box-sizing: border-box;
  position: absolute;
  width: 53.1441%;
  height: 53.1441%;
  top: 26.04%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
  animation-delay: 1.5s;
}

.box8 {
  box-sizing: border-box;
  position: absolute;
  width: 47.82969%;
  height: 47.82969%;
  top: 28.47%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
  animation-delay: 1.8s;
}

.box9 {
  box-sizing: border-box;
  position: absolute;
  width: 42%;
  height: 42%;
  top: 30.62%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
  animation-delay: 2.1s;
}

.box10 {
  box-sizing: border-box;
  position: absolute;
  width: 37%;
  height: 37%;
  top: 32.56%;
  left: 50%;
  transform: translate3d(0, 0, 0) rotate(0deg) translateX(-50%);
  transition: all 0.2s;
  border-right: 2px solid #fff;
  border-left: 2px solid #fff;
  animation: expand 1s ease;
  animation-delay: 2.4s;
}

.character {
  position: absolute;
  width: 100%;
  top: 30%;
}

.introText {
  color: white;
  font-size: 36px;
  font-weight: bold;
  margin-left: 18vw;
  margin-top: 5vh;
  position: absolute;
  justify-content: center;
}
@media (width <= 576px) {
  .first {
    width: 70vw;
    height: 70vw;
  }
}
