.layout {
  height: 100vh;
  width: 100vw;
  overflow:scroll;
  background: linear-gradient(180deg, #0b1238 0%, #286eca 100%);
}

.sidebar {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 5%;
  margin-top: 9vw;
}


.mainContent {
  flex-grow: 1; /* Ensures it takes the remaining space */
}

.logoimg {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  left: 1.5%;
  top: 3%;
  width: 20vw;
}