h2 {
    color: #0575e6; /* Adjust to fit your theme */
  }
  
  
  .mainView {
    position: relative; /* 상대적 위치 지정 */
    background: linear-gradient(180deg, #0b1238 0%, #286eca 100%);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 내용이 넘치면 숨김 */
  }
  
  .infoBar {
    position: relative; /* 절대 위치 */
    width: 100%;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* 배경 반투명 검정 */
    color: white;
  }
  
  
  .playButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .playerWrapper {
    position: relative;
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  
  
  .playerWrapper:hover .volumeControl .controlsOverlay {
    opacity: 1; /* Fully visible on hover */
  }
  
  .progressBar {
    width: 300px;
    height: 0.8vh;
    background-color: #ffffff;
    position: absolute;
    top: 35vh; /* Adjust as needed */
  }
  
  .progress {
    height: 100%;
    background: linear-gradient(to right, #00f260, #0575e6); /* Green to blue gradient */
    width: 0%; /* Updated by React */
  }
  
  .volumeSlider {
    width: 150px;
    height: 5px;
    appearance: none;
    background: linear-gradient(to right, #00f260, #0575e6); /* Green to blue gradient */
    outline: none;
    transition: opacity .2s;
  }
  
  .timeDisplayOverlay {
    position: absolute;
    left: 50%;
    top: 32vh;
    transform: translateX(-20%);
    color: white;
    width: 30vh;
    font-size: 1rem; /* Larger font size for visibility */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Enhancing readability */
  }
  
  
  .volumeSlider::-webkit-slider-thumb,
  .volumeSlider::-moz-range-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  
  .controlsOverlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
  
  }
  
  .controlsOverlay:hover {
    opacity: 1;
  }
  
  .volumeControl {
    /* flex-direction: row; */
    align-items: center;
    position: absolute;
    bottom: 32vh;
  
  }
  
  .volumeIcon {
    cursor: pointer;
    color: #0575e6; /* Adjust to fit your theme */
  }
  
  .speedControl{
    cursor: pointer;
    color: #f0f0f0;
    top: 28vh;
    left: 35vw;
    position: absolute;
  }
  
  .speedControl span {
    position: absolute;
    right: 1.5vw;
    font-size: 0.85rem;
    position: relative;  
  }
  
  
  :root {
    --glow1-color: hsl(186 100% 69%);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  
  .glowingBtn {
    position: relative;
    color: var(--glow1-color);
    cursor: pointer;
    padding: 0.5em 2em 0.5em 1.2em;
    border: 0.15em solid var(--glow1-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;
    
    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow1-color),
      0px 0px 0.5em 0px var(--glow1-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow1-color),
      0px 0px 0.5em 0px var(--glow1-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow1-color),
      0px 0px 0.5em 0px var(--glow1-color);
    animation: border-flicker 2s linear infinite;
  }
  
  .glowingTxt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow1-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
      0 0 0.45em var(--glow1-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow1-color);
    animation: text-flicker 3s linear infinite;
  }
  
  .faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
  }
  
  .glowingBtn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow1-color);
    pointer-events: none;
  }
  
  /* .glowingBtn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow1-color);
    box-shadow: 0 0 2em 0.2em var(--glow1-color);
    transition: opacity 100ms linear;
  } */
  
  
  
  
  @keyframes faulty-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 0.1;
    }
    4% {
      opacity: 0.5;
    }
    19% {
      opacity: 0.5;
    }
    21% {
      opacity: 0.1;
    }
    23% {
      opacity: 1;
    }
    80% {
      opacity: 0.5;
    }
    83% {
      opacity: 0.4;
    }
  
    87% {
      opacity: 1;
    }
  }
  
  @keyframes text-flicker {
    0% {
      opacity: 0.1;
    }
  
    2% {
      opacity: 1;
    }
  
    8% {
      opacity: 0.1;
    }
  
    9% {
      opacity: 1;
    }
  
    12% {
      opacity: 0.1;
    }
    20% {
      opacity: 1;
    }
    25% {
      opacity: 0.3;
    }
    30% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.7;
    }
    72% {
      opacity: 0.2;
    }
  
    77% {
      opacity: 0.9;
    }
    100% {
      opacity: 0.9;
    }
  }
  
  @keyframes border-flicker {
    0% {
      opacity: 0.1;
    }
    2% {
      opacity: 1;
    }
    4% {
      opacity: 0.1;
    }
  
    8% {
      opacity: 1;
    }
    70% {
      opacity: 0.7;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .glowingBtn{
      font-size: 1em;
    }
  }
  