.homeContainer {
  height: calc(100vh - 11.5rem);
  overflow-y: auto;
  overflow-x: hidden;
}

.playButton {
  /* transform: scale(1.8); */
  color: white;
  display: flex;
  justify-content: center;
}

.progressContainer {
  display: flex; 
  justify-content: center; 
  align-items: center;
  margin-top: 3vh;
}

.progressBar {
  width: 40vh;
  height: 5vh;
  background-color: #ffffff;
  /* position: absolute; */
}

.progress {
  height: 100%;
  background: linear-gradient(to right, #00f260, #0575e6);
}

.timeDisplayOverlay {
  display: flex; 
  justify-content: center; 
  align-items: center;
  /* position: absolute;
  left: 50%;
  transform: translateX(-20%); */
  color: white;
  /* width: 30vh; */
  font-size: 1rem; /* Larger font size for visibility */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Enhancing readability */
}

.timelineContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust margin as needed */
}