.homeContainer {
  position: relative;
  height: calc(100vh - 11.5rem);
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

.playButton {
  transform: scale(1.8);
  color: white;
  display: flex;
  justify-content: center;
}
