.mainView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 2;
}
.player{
  z-index: 2;
}

.playButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  cursor: pointer;
  color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerWrapper {
  position: relative;
  width: 100%;
  height: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.playerWrapper:hover .volumeControl .controlsOverlay {
  opacity: 1; /* Fully visible on hover */
}

.progressBar {
  width: 300px;
  height: 0.8vh;
  background-color: #ffffff;
  position: absolute;
  top: 35vh; /* Adjust as needed */
}

.progress {
  height: 100%;
  background: linear-gradient(to right, #00f260, #0575e6); /* Green to blue gradient */
  width: 0%; /* Updated by React */
}

.volumeSlider {
  width: 150px;
  height: 5px;
  appearance: none;
  background: linear-gradient(to right, #00f260, #0575e6); /* Green to blue gradient */
  outline: none;
  transition: opacity .2s;
}

.timeDisplayOverlay {
  position: absolute;
  left: 50%;
  top: 32vh;
  transform: translateX(-20%);
  color: white;
  width: 30vh;
  font-size: 1rem; /* Larger font size for visibility */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5); /* Enhancing readability */
}


.volumeSlider::-webkit-slider-thumb,
.volumeSlider::-moz-range-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

.controlsOverlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.controlsOverlay:hover {
  opacity: 1;
}

.volumeControl {
  display: none; /* Initially hidden */
  flex-direction: row;
  align-items: center;
}

.volumeIcon {
  cursor: pointer;
  color: #0575e6; /* Adjust to fit your theme */
}
