.record-page {
  position: relative;
  background: linear-gradient(180deg, #0b1238 0%, #286eca 100%);
  height: 100vh;
}

.record-btn {
  position: absolute;
  border: 4px solid red;
  border-radius: 100%;
  bottom: 3.5%;
  left: 50%;
  transform: translateX(-50%);
  width: 3rem;
  height: 3rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.record-start {
  width: 100%;
  height: 100%;
  color: red;
  border-radius: 100%;
  border: none;
  background-color: red;
  transition: all 0.2s;
}

.record-stop {
  width: 60%;
  height: 60%;
  background-color: red;
  border: none;
  transition: all 0.2s;
}

.record-button {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.record-button > button {
  width: 40%;
  height: 60%;
  border: none;
  border-radius: 0.5rem;
  outline: none;
  color: white;
  font-size: 1.3rem;
}

.record-button__cancle {
  background-color: #f44336;
}

.record-button__save {
  background-color: #4caf50;
}


.record-page {
  position: relative;
  width: 100%; /* Adjust width as necessary */
  height: 100%; /* Adjust height as necessary */
}

.video-overlay, .webcam-feed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.webcam-feed {
  z-index: 0;
}

.video-overlay {
  z-index: 1;
}
